In [3]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
sns.set_style('whitegrid')
sns.color_palette('pastel')
%matplotlib inline
from sklearn.metrics import roc_curve
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.cross_validation import KFold, cross_val_score, train_test_split
import xgboost as xgb
#Settings
pd.options.mode.chained_assignment = None
pd.set_option('display.max_columns', 1000)

In [4]:
train_data = pd.read_csv('~/PYTHON/DrivenData/water_pumps/train_data.csv')
test_data = pd.read_csv('~/PYTHON/DrivenData/water_pumps/test_data.csv')
train_target = pd.read_csv('~/PYTHON/DrivenData/water_pumps/train_target.csv')

In [5]:
print(test_data.shape)
print(train_data.shape)
print(train_target.shape)

(14850, 40)
(59400, 40)
(59400, 2)

In [6]:
#Functions

def binary(x):
    if (x == True) or (x == 'True'):
        return 1
    elif (x == False) or (x == 'False'):
        return 0


def funder_cat(x):
    
    if x <= 1:
        return 's1'
    elif (x>1) & (x<=5):
        return 's2'
    elif (x>5) & (x<=10):
        return 's3'
    elif (x>10) & (x<=20):
        return 's4'
    elif (x>20) & (x<=50):
        return 's5'
    elif (x>50) & (x<=100):
        return 's6'
    elif (x>100) & (x<=150):
        return 's7'
    elif (x>150) & (x<=200):
        return 's8'
    elif (x>200):
        return 's9'

def installer_cat(x):
    
    if x <= 1:
        return 'i1'
    elif (x>1) & (x<=5):
        return 'i2'
    elif (x>5) & (x<=10):
        return 'i3'
    elif (x>10) & (x<=20):
        return 'i4'
    elif (x>20) & (x<=50):
        return 'i5'
    elif (x>50) & (x<=100):
        return 'i6'
    elif (x>100) & (x<=150):
        return 'i7'
    elif (x>150) & (x<=200):
        return 'i8'
    elif (x>200):
        return 'i9'


def funder_clean(data):

    funder_piv = data.pivot_table(index='funder', values='id', aggfunc=len)
    funder_df = pd.DataFrame()
    funder_df['type'] = funder_piv.index
    funder_df['count'] = funder_piv.values
    funder_df['funder_size'] = funder_df['count'].apply(lambda x: funder_cat(x))
    funder_map = dict(funder_df[['type', 'funder_size']].values)
    data['funder_size'] = data.funder.map(funder_map)
    data.funder_size.fillna('None', inplace=True)
    data = data.drop(['funder'], axis=1)
    return data


def installer_clean(data):

    installer_piv = data.pivot_table(index='installer', values=['id'], aggfunc=len)
    installer_df = pd.DataFrame()
    installer_df['type'] = installer_piv.index
    installer_df['count'] = installer_piv.values
    installer_df['installer_size'] = installer_df['count'].apply(lambda x: installer_cat(x))
    installer_map = dict(installer_df[['type', 'installer_size']].values)
    data['installer_size'] = data.installer.map(installer_map)
    data.installer_size.fillna('None', inplace=True)
    data = data.drop(['installer'], axis=1)
    return data


def date_recorded_year(x):
    return datetime.datetime.strptime(x, '%Y-%m-%d').year

In [7]:
# Major Clean Function
def rf_prepare_data(data_input):
    
    data = data_input
    ## Handling Null Values
    # scheme name dropped
    data.drop(['scheme_name'],axis=1, inplace=True)
    
    # public_meeting NaN filled to False and cleaned
    data.public_meeting.fillna(False, inplace=True)
    data['public_meeting_binary'] = data.public_meeting.apply(binary)
    data.drop(['public_meeting'],axis=1,inplace=True)
    
    # scheme_management NaN filled to 'None' string
    data.scheme_management.fillna('None', inplace=True)
    
    # funder cleaning
    data = funder_clean(data)
    
    # installer cleaning
    data = installer_clean(data)
    
    # permit cleaning
    data.permit[(data.permit!=False)&(data.permit!=True)] = False
    data['permit_binary'] = data.permit.apply(binary)
    data.drop(['permit'],axis=1,inplace=True)
    
    # subvillage drop
    data.drop(['subvillage'],axis=1, inplace=True)
    
    ##Handling other data
    # date_recorded_year extract
    data['date_recorded_year'] = data.date_recorded.apply(lambda x: date_recorded_year(x))
    data.drop(['date_recorded'],axis=1,inplace=True)
    
    # wpt_name drop
    data.drop(['wpt_name'], axis=1, inplace=True)
    # region drop
    data.drop(['region'], axis=1, inplace=True)
    # lga drop
    data.drop(['lga'], axis=1, inplace=True)
    # ward drop
    data.drop(['ward'], axis=1, inplace=True)
    # recorded_by drop
    data.drop(['recorded_by'], axis=1, inplace=True)
    # extraction_type_drop
    data.drop(['extraction_type','extraction_type_group'], axis=1, inplace=True)
    # management drop
    data.drop(['management'], axis=1, inplace=True)
    # payment drop
    data.drop(['payment'], axis=1, inplace=True)
    # water_quality drop
    data.drop(['water_quality'], axis=1, inplace=True)
    # quantity drop
    data.drop(['quantity'], axis=1, inplace=True)
    # source drop
    data.drop(['source','source_class'],axis=1,inplace=True)
    # waterpoint_type drop
    data.drop(['waterpoint_type'], axis=1, inplace=True)
    # num_private drop
    #data.drop(['num_private'], axis=1,inplace=True)
    # drop coordinates
    #data.drop(['longitude','latitude'], axis=1,inplace=True)
    
    # Operational Years Feature Engineering
    op_years = list(data.date_recorded_year-data.construction_year)
    operational_years = []
    for i in op_years:
        if (i > 500) or (i < 0):
            operational_years.append(0)
        else:
            operational_years.append(i)
    data['operational_years'] = operational_years
#     data.drop(['date_recorded_year','construction_year'], axis=1, inplace=True)
 
    return data

In [8]:
def transform_data(data):
    
    # Transformation of variables if required or for testing
    data['amount_tsh'] = data.amount_tsh.apply(lambda x: np.log(x+1))
    data['operational_years'] = data.operational_years.apply(lambda x: np.log(x+1))
    data['population'] = data.population.apply(lambda x: np.log(x+1))
    
    return data

In [9]:
rf_data = pd.read_csv('~/PYTHON/DrivenData/water_pumps/train_data.csv')

In [10]:
prep_rf = rf_prepare_data(rf_data)
rf_targets = train_target.status_group

In [11]:
# col = pandas.Categorical.from_array(income["workclass"])
# income["workclass"] = col.codes
# print(income["workclass"].head(5))

iter_ = ['basin','scheme_management','extraction_type_class','management_group',
        'payment_type','quality_group','quantity_group','source_type','waterpoint_type_group',
        'funder_size','installer_size']

for idx in iter_:
    col_ = pd.Categorical.from_array(prep_rf[idx])
    prep_rf[idx]= col_.codes

prep_rf

,id,amount_tsh,gps_height,longitude,latitude,num_private,basin,region_code,district_code,population,scheme_management,construction_year,extraction_type_class,management_group,payment_type,quality_group,quantity_group,source_type,waterpoint_type_group,public_meeting_binary,funder_size,installer_size,permit_binary,date_recorded_year,operational_years
0,69572,6000.0,1390,34.938093,-9.856322e+00,0,1,11,5,109,7,1999,0,4,0,2,1,6,1,1,9,6,0,2011,12
1,8776,0.0,1399,34.698766,-2.147466e+00,0,4,20,2,280,2,2010,0,4,2,2,2,3,1,0,6,5,1,2013,3
2,34310,25.0,686,37.460664,-3.821329e+00,0,5,21,4,250,7,2009,0,4,5,2,1,1,1,1,3,9,1,2013,4
3,67743,0.0,263,38.486161,-1.115530e+01,0,7,90,63,58,7,1986,5,4,2,2,0,0,1,1,9,9,1,2013,27
4,19728,0.0,0,31.130847,-1.825359e+00,0,4,18,1,0,1,0,0,1,2,2,3,3,1,1,1,7,1,2011,0
5,9944,20.0,0,39.172796,-4.765587e+00,0,5,4,8,1,7,2009,5,4,5,4,1,2,1,1,7,9,1,2011,2
6,19816,0.0,0,33.362410,-3.766365e+00,0,0,17,3,0,7,0,1,4,2,2,1,0,3,1,9,8,1,2012,0
7,54551,0.0,0,32.620617,-4.226198e+00,0,3,17,3,0,1,0,1,4,6,3,1,5,3,1,9,9,1,2012,0
8,53934,0.0,0,32.711100,-5.146712e+00,0,3,14,6,0,7,0,1,4,2,4,3,0,3,1,9,5,1,2012,0
9,46144,0.0,0,30.626991,-1.257051e+00,0,4,18,1,0,1,0,1,4,2,2,1,5,3,1,4,7,1,2011,0
10,49056,0.0,62,39.209518,-7.034139e+00,0,8,60,43,345,4,2011,5,0,2,4,1,0,5,1,9,7,0,2011,0
11,50409,200.0,1062,35.770258,-1.057417e+01,0,1,10,5,250,9,1987,1,4,3,2,2,5,3,1,9,9,0,2013,26
12,36957,0.0,0,33.798106,-3.290194e+00,0,0,17,2,0,9,0,1,4,4,2,1,5,3,1,9,9,0,2012,0
13,50495,0.0,1368,37.092574,-3.181783e+00,0,5,3,7,1,10,2009,0,4,1,2,1,6,1,1,8,8,1,2013,4
14,53752,0.0,0,34.364073,-3.629333e+00,0,0,17,6,0,9,0,1,4,2,2,1,5,3,1,5,9,1,2012,0
15,61848,0.0,1645,31.444121,-8.274962e+00,0,3,15,2,200,7,1991,1,4,2,2,1,0,3,1,9,9,0,2011,20
16,48451,500.0,1703,34.642439,-9.106185e+00,0,6,11,4,35,8,1978,0,4,1,2,0,4,1,1,9,9,1,2011,33
17,58155,0.0,1656,34.569266,-9.085515e+00,0,6,11,4,50,8,1978,0,4,3,2,0,4,1,1,9,9,1,2011,33
18,34169,0.0,1162,32.920154,-1.947868e+00,0,4,19,1,1000,1,1999,3,4,2,3,2,6,5,0,9,9,1,2011,12
19,18274,500.0,1763,34.508967,-9.894412e+00,0,1,11,5,1,7,1992,0,4,0,2,1,6,1,1,9,6,1,2011,19
20,48375,200.0,2216,34.473430,-9.594990e+00,0,1,11,4,4,7,2008,0,4,1,2,1,6,1,1,6,7,0,2011,3
21,6091,0.0,0,0.000000,-2.000000e-08,0,4,17,1,0,9,0,1,4,6,5,4,5,3,0,9,9,0,2013,0
22,58500,0.0,1510,34.586901,-8.980014e+00,0,6,11,4,350,8,1978,0,4,2,2,1,4,1,1,9,9,1,2011,33
23,37862,500.0,672,37.940029,-4.125595e+00,0,5,3,3,210,11,2011,0,4,1,2,1,4,1,1,9,7,1,2013,2
24,51058,0.0,1645,29.747066,-4.495568e+00,0,3,16,3,156,7,2009,0,4,6,2,1,6,4,0,5,9,1,2013,4
25,22308,0.0,1273,37.422751,-3.317536e+00,0,5,3,4,140,7,1974,0,4,6,2,1,6,1,1,9,9,1,2013,39
26,55012,500.0,200,39.370777,-9.942532e+00,0,7,80,23,260,7,2011,1,4,1,2,1,0,3,0,1,2,0,2013,2
27,20145,0.0,0,31.104257,-1.735361e+00,0,4,18,1,0,1,0,1,4,2,2,1,5,3,1,9,9,1,2011,0
28,19685,0.0,1443,37.611126,-3.263526e+00,0,5,3,1,1,0,2000,0,0,1,2,2,6,1,1,9,9,1,2013,13
29,69124,0.0,1256,37.061688,-3.191989e+00,0,5,3,7,1,10,2002,0,4,1,2,1,6,1,1,8,8,1,2013,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59370,14796,200.0,1154,30.058731,-4.902633e+00,0,3,16,2,1,1,0,3,3,1,5,4,2,5,1,0,0,0,2013,0
59371,20387,0.0,0,33.586406,-3.040369e+00,0,4,17,2,0,9,0,1,4,2,2,1,5,3,1,9,9,0,2012,0
59372,29940,0.0,0,32.058548,-5.052101e+00,0,3,14,4,0,4,0,3,0,5,4,2,5,5,1,6,6,1,2012,0
59373,15233,5000.0,1137,32.125024,-6.784358e+00,0,2,15,1,96,7,1988,1,4,0,2,1,0,3,1,9,8,1,2013,25
59374,49651,0.0,0,0.000000,-2.000000e-08,0,4,17,1,0,9,0,1,4,4,2,1,5,3,1,9,9,0,2012,0
59375,50998,40000.0,54,39.046942,-5.061494e+00,0,5,4,4,609,7,2005,0,4,1,2,1,4,1,1,9,9,1,2011,6
59376,34716,0.0,1581,34.821039,-5.076258e+00,0,0,13,2,1,7,1990,3,4,6,5,0,5,5,1,0,0,0,2013,23
59377,43986,0.0,0,33.437012,-4.423594e+00,0,0,14,2,0,11,0,0,4,2,2,2,1,1,1,9,9,0,2012,0
59378,38067,500.0,2101,34.620387,-9.358405e+00,0,6,11,4,36,7,2008,0,4,1,2,1,6,1,1,9,9,1,2011,3
59379,58255,0.0,0,31.613284,-1.820226e+00,0,4,18,3,0,7,0,0,4,2,2,1,6,1,1,3,3,1,2011,0
59380,30647,6000.0,1439,34.942101,-9.849198e+00,0,1,11,5,50,7,1999,0,4,0,2,0,6,1,1,9,6,0,2011,12
59381,67885,0.0,0,38.835001,-4.880204e+00,0,5,4,8,360,7,1992,0,4,2,2,2,6,1,1,7,9,1,2011,19
59382,47002,6.0,1383,37.454759,-3.323599e+00,0,5,3,4,1,10,2008,0,4,5,2,1,6,1,1,9,9,1,2013,5
59383,44616,0.0,11,39.626009,-1.005750e+01,0,7,80,62,800,1,2008,1,4,6,2,1,3,3,1,9,4,1,2013,5
59384,72148,0.0,0,30.667805,-2.483710e+00,0,4,18,30,0,7,0,0,4,2,2,2,6,1,1,7,5,0,2011,0
59385,34473,500.0,1327,33.951681,-2.021854e+00,0,4,20,4,200,9,2011,1,4,1,4,1,0,3,1,9,2,1,2012,1
59386,34952,0.0,1786,31.738789,-8.532013e+00,0,2,15,2,1000,7,2009,1,4,2,2,1,0,3,1,9,9,0,2011,2
59387,26640,100.0,25,39.176480,-6.957098e+00,0,8,7,2,100,8,2000,5,4,5,2,1,0,1,0,9,9,0,2013,13
59388,72559,0.0,1414,30.692400,-3.593827e+00,0,3,16,1,500,7,1995,0,4,6,2,2,6,4,1,5,9,1,2013,18
59389,30410,0.0,783,30.646486,-7.365418e+00,0,3,15,3,1500,7,2009,1,4,2,2,1,0,3,0,7,9,0,2011,2
59390,13677,0.0,1715,31.370848,-8.258160e+00,0,3,15,2,150,7,1991,1,4,2,2,2,0,3,1,9,9,0,2011,20
59391,44885,0.0,540,38.044070,-4.272218e+00,0,5,3,3,210,11,1967,0,4,2,2,1,4,1,1,9,9,1,2013,46
59392,40607,0.0,0,33.009440,-8.520888e+00,0,2,12,1,0,7,0,0,4,2,2,1,6,1,1,9,9,1,2011,0
59393,48348,0.0,0,33.866852,-4.287410e+00,0,0,14,2,0,11,0,0,0,5,2,2,1,5,0,9,7,0,2012,0
59394,11164,500.0,351,37.634053,-6.124830e+00,0,8,5,6,89,7,2007,5,4,1,2,1,0,1,1,9,4,1,2011,4
59395,60739,10.0,1210,37.169807,-3.253847e+00,0,5,3,5,125,10,1999,0,4,5,2,1,6,1,1,9,9,1,2013,14
59396,27263,4700.0,1212,35.249991,-9.070629e+00,0,6,11,4,56,7,1996,0,4,0,2,1,4,1,1,5,4,1,2011,15
59397,37057,0.0,0,34.017087,-8.750434e+00,0,6,12,7,0,7,0,1,4,1,1,1,0,3,1,0,0,0,2011,0
59398,31282,0.0,0,35.861315,-6.378573e+00,0,6,1,4,0,7,0,1,4,2,2,2,5,3,1,2,2,1,2011,0
59399,26348,0.0,191,38.104048,-6.747464e+00,0,8,5,2,150,7,2002,1,4,3,4,1,5,3,1,9,7,1,2011,9

In [12]:
prep_rf.drop(['id'],axis=1,inplace=True)
prep_rf.head()

,amount_tsh,gps_height,longitude,latitude,num_private,basin,region_code,district_code,population,scheme_management,construction_year,extraction_type_class,management_group,payment_type,quality_group,quantity_group,source_type,waterpoint_type_group,public_meeting_binary,funder_size,installer_size,permit_binary,date_recorded_year,operational_years
0,6000.0,1390,34.938093,-9.856322,0,1,11,5,109,7,1999,0,4,0,2,1,6,1,1,9,6,0,2011,12
1,0.0,1399,34.698766,-2.147466,0,4,20,2,280,2,2010,0,4,2,2,2,3,1,0,6,5,1,2013,3
2,25.0,686,37.460664,-3.821329,0,5,21,4,250,7,2009,0,4,5,2,1,1,1,1,3,9,1,2013,4
3,0.0,263,38.486161,-11.155298,0,7,90,63,58,7,1986,5,4,2,2,0,0,1,1,9,9,1,2013,27
4,0.0,0,31.130847,-1.825359,0,4,18,1,0,1,0,0,1,2,2,3,3,1,1,1,7,1,2011,0

In [13]:
rf_model = RandomForestClassifier(random_state = 123, n_estimators = 100)
rf_model.fit(prep_rf, rf_targets)
predictions = rf_model.predict(prep_rf)
print(len(rf_targets[rf_targets==predictions])/len(rf_targets))

0.9957070707070707

In [14]:
kf = KFold(prep_rf.shape[0], n_folds=10,shuffle=True,random_state=123)
cvs = cross_val_score(rf_model,prep_rf, rf_targets,cv=kf)

In [15]:
print(np.mean(cvs))
cvs

0.804797979798

array([ 0.80808081,  0.80959596,  0.79983165,  0.80084175,  0.80622896,
        0.80488215,  0.81649832,  0.796633  ,  0.80117845,  0.80420875])

In [16]:
test_prep_rf = rf_prepare_data(test_data)
iter_ = ['basin','scheme_management','extraction_type_class','management_group',
        'payment_type','quality_group','quantity_group','source_type','waterpoint_type_group',
        'funder_size','installer_size']

for idx in iter_:
    col_ = pd.Categorical.from_array(test_prep_rf[idx])
    test_prep_rf[idx]= col_.codes
test_prep_rf.drop(['id'],axis=1,inplace=True)
test_prep_rf.head()

,amount_tsh,gps_height,longitude,latitude,num_private,basin,region_code,district_code,population,scheme_management,construction_year,extraction_type_class,management_group,payment_type,quality_group,quantity_group,source_type,waterpoint_type_group,public_meeting_binary,funder_size,installer_size,permit_binary,date_recorded_year,operational_years
0,0.0,1996,35.290799,-4.059696,0,0,21,3,321,3,2012,3,2,2,2,3,3,5,1,6,5,1,2013,1
1,0.0,1569,36.656709,-3.309214,0,5,2,2,300,7,2000,0,4,2,2,2,6,1,1,9,9,1,2013,13
2,0.0,1567,34.767863,-5.004344,0,0,13,2,500,7,2010,3,4,2,2,2,3,5,1,0,0,0,2013,3
3,0.0,267,38.058046,-9.418672,0,7,80,43,250,7,1987,3,4,6,2,0,5,5,0,3,3,1,2013,26
4,500.0,1260,35.006123,-10.950412,0,7,10,3,60,10,2000,0,4,1,2,1,6,1,0,3,3,1,2013,13

In [33]:
col_

[i5, i9, None, i3, i3, ..., i6, i2, None, i9, i9]
Length: 14850
Categories (10, object): [None, i1, i2, i3, ..., i6, i7, i8, i9]

In [20]:
def iterate_rf(iterations,X_train,Y_train,X_final):
    kf = KFold(X_train.shape[0], n_folds=10,shuffle=True,random_state=123)
    
    pred_df = pd.DataFrame()
    accuracies = []
    
    for i in range(iterations):
        rf_model = RandomForestClassifier(n_estimators = 100)
        xtrain, xtest, ytrain, ytest = train_test_split(X_train, Y_train, test_size=0.33, random_state=123)
        
        rf_model.fit(xtrain,ytrain)
        predictions = rf_model.predict(xtest)
        acc = len(ytest[ytest==predictions])/len(ytest)
        accuracies.append(acc)
        final_predictions = rf_model.predict(X_final)
        pred_df[i] = final_predictions
    return pred_df, accuracies

# rf_df, rf_accuracies = iterate_rf(100,prep_rf, rf_targets,test_prep_rf)

In [21]:
rf_df, rf_accuracies = iterate_rf(200,prep_rf, rf_targets,test_prep_rf)

In [19]:
t_prep_rf = transform_data(prep_rf)
t_test_prep_rf = transform_data(test_prep_rf)

In [22]:
t_rf_df, t_rf_accuracies = iterate_rf(200,t_prep_rf, rf_targets, t_test_prep_rf)

In [23]:
print(rf_accuracies)
print(t_rf_accuracies)

[0.8006325885113764, 0.7992041628405264, 0.7992041628405264, 0.800734618916437, 0.800581573308846, 0.7985409652076318, 0.7999183756759515, 0.7982348739924497, 0.8001224364860728, 0.7990001020304051, 0.7996122844607693, 0.8001224364860728, 0.8006325885113764, 0.8010407101316193, 0.7983369043975105, 0.8004285277012549, 0.8012447709417406, 0.7996122844607693, 0.8009386797265585, 0.8001224364860728, 0.7985409652076318, 0.7984389348025712, 0.799561269258239, 0.8010407101316193, 0.7993061932455872, 0.7992041628405264, 0.7993061932455872, 0.8003775124987246, 0.7976226915620855, 0.800734618916437, 0.7994082236506479, 0.800275482093664, 0.799561269258239, 0.7995102540557086, 0.7992551780430568, 0.8008876645240282, 0.8003264972961943, 0.7995102540557086, 0.7990511172329354, 0.7996632996632996, 0.8001734516886032, 0.7985409652076318, 0.7993061932455872, 0.8001734516886032, 0.8000204060810121, 0.7990511172329354, 0.7975206611570248, 0.79971431486583, 0.8011427405366799, 0.8006325885113764, 0.7995102540557086, 0.8004285277012549, 0.7996122844607693, 0.7982858891949801, 0.8008876645240282, 0.7994082236506479, 0.7982858891949801, 0.8005305581063157, 0.79971431486583, 0.7999183756759515, 0.8004795429037853, 0.7995102540557086, 0.7998673604734211, 0.7987450260177533, 0.79971431486583, 0.8001224364860728, 0.798847056422814, 0.7996632996632996, 0.7996122844607693, 0.8004795429037853, 0.7996632996632996, 0.7995102540557086, 0.7987960412202837, 0.8006836037139068, 0.7996122844607693, 0.7985409652076318, 0.799561269258239, 0.7988980716253443, 0.7996632996632996, 0.7995102540557086, 0.7985919804101622, 0.8010407101316193, 0.7990511172329354, 0.7996122844607693, 0.8016528925619835, 0.7991021324354658, 0.798694010815223, 0.8004285277012549, 0.7981838587899194, 0.7995102540557086, 0.7984899500051015, 0.7998163452708907, 0.798847056422814, 0.7989490868278747, 0.7997653300683604, 0.7994592388531783, 0.7994592388531783, 0.7992551780430568, 0.8004285277012549, 0.7993572084481175, 0.7998673604734211, 0.7996632996632996, 0.800734618916437, 0.7999183756759515, 0.7994592388531783, 0.7990511172329354, 0.7998673604734211, 0.7984899500051015, 0.7975206611570248, 0.7995102540557086, 0.8000714212835425, 0.7998163452708907, 0.8007856341189674, 0.7992041628405264, 0.7988980716253443, 0.800581573308846, 0.799561269258239, 0.7994082236506479, 0.7990001020304051, 0.7991531476379962, 0.7996632996632996, 0.8003775124987246, 0.7999693908784817, 0.79971431486583, 0.7998673604734211, 0.7991531476379962, 0.8009386797265585, 0.8011937557392103, 0.7992041628405264, 0.8003775124987246, 0.8003264972961943, 0.8007856341189674, 0.7998163452708907, 0.7986429956126926, 0.800734618916437, 0.7998163452708907, 0.7994592388531783, 0.7995102540557086, 0.7993061932455872, 0.798847056422814, 0.799561269258239, 0.7996632996632996, 0.8004285277012549, 0.7999693908784817, 0.8007856341189674, 0.7993572084481175, 0.8006836037139068, 0.8003264972961943, 0.7999183756759515, 0.7993061932455872, 0.8018569533721049, 0.7999183756759515, 0.8000204060810121, 0.7996122844607693, 0.8006836037139068, 0.8004795429037853, 0.8001224364860728, 0.8006836037139068, 0.7995102540557086, 0.7996632996632996, 0.79971431486583, 0.7987450260177533, 0.7991021324354658, 0.800581573308846, 0.7997653300683604, 0.8001734516886032, 0.8000714212835425, 0.7987960412202837, 0.8008876645240282, 0.7990001020304051, 0.8001224364860728, 0.8011937557392103, 0.7991021324354658, 0.7984899500051015, 0.799561269258239, 0.7990511172329354, 0.7999693908784817, 0.7985409652076318, 0.7993572084481175, 0.7997653300683604, 0.798694010815223, 0.79971431486583, 0.8003264972961943, 0.8000204060810121, 0.8007856341189674, 0.799561269258239, 0.7995102540557086, 0.7993061932455872, 0.8009896949290889, 0.800275482093664, 0.8001734516886032, 0.7998163452708907, 0.8001734516886032, 0.7992551780430568, 0.7999693908784817, 0.7995102540557086, 0.7997653300683604, 0.7983369043975105, 0.800734618916437, 0.8006836037139068]
[0.7998163452708907, 0.7983369043975105, 0.7997653300683604, 0.798847056422814, 0.79971431486583, 0.8002244668911336, 0.800581573308846, 0.8003775124987246, 0.7996632996632996, 0.7998163452708907, 0.8000714212835425, 0.7994592388531783, 0.8003775124987246, 0.8000204060810121, 0.7986429956126926, 0.8001224364860728, 0.8017549229670442, 0.8002244668911336, 0.7996122844607693, 0.800275482093664, 0.7998673604734211, 0.7996632996632996, 0.7987960412202837, 0.8013468013468014, 0.7994592388531783, 0.8003775124987246, 0.8014998469543924, 0.7994592388531783, 0.8020099989796959, 0.7991531476379962, 0.8003264972961943, 0.798847056422814, 0.8013468013468014, 0.7981838587899194, 0.7999183756759515, 0.7999183756759515, 0.79971431486583, 0.800734618916437, 0.8000714212835425, 0.8004285277012549, 0.7977247219671462, 0.8012447709417406, 0.7996122844607693, 0.7999693908784817, 0.7989490868278747, 0.7984899500051015, 0.7992551780430568, 0.7990511172329354, 0.8002244668911336, 0.7999183756759515, 0.7990511172329354, 0.8001734516886032, 0.7990001020304051, 0.7981838587899194, 0.7998163452708907, 0.7977247219671462, 0.7989490868278747, 0.7986429956126926, 0.7998673604734211, 0.7998163452708907, 0.7984389348025712, 0.7998673604734211, 0.7980308131823284, 0.7990001020304051, 0.7994082236506479, 0.8016018773594531, 0.8008876645240282, 0.799561269258239, 0.7987450260177533, 0.7991531476379962, 0.8004795429037853, 0.8008366493214978, 0.8001224364860728, 0.7997653300683604, 0.7997653300683604, 0.8003775124987246, 0.7996122844607693, 0.7998673604734211, 0.798694010815223, 0.7998163452708907, 0.8007856341189674, 0.8007856341189674, 0.7990001020304051, 0.8009896949290889, 0.7993061932455872, 0.8001734516886032, 0.8003264972961943, 0.7996632996632996, 0.8000204060810121, 0.8011427405366799, 0.7992041628405264, 0.7999693908784817, 0.8004285277012549, 0.7987960412202837, 0.7994082236506479, 0.7995102540557086, 0.7992041628405264, 0.8001734516886032, 0.7991021324354658, 0.7976226915620855, 0.7990511172329354, 0.7983879196000409, 0.8001224364860728, 0.79971431486583, 0.7996122844607693, 0.7985919804101622, 0.8001224364860728, 0.8021120293847567, 0.7994082236506479, 0.7986429956126926, 0.7990511172329354, 0.7999693908784817, 0.7983369043975105, 0.7968574635241302, 0.8003264972961943, 0.8003775124987246, 0.7982858891949801, 0.7996632996632996, 0.7989490868278747, 0.7996122844607693, 0.7992551780430568, 0.7984389348025712, 0.7992551780430568, 0.7987960412202837, 0.798694010815223, 0.7996122844607693, 0.7973166003469033, 0.8006836037139068, 0.7992551780430568, 0.7999693908784817, 0.7985409652076318, 0.7990511172329354, 0.8004795429037853, 0.8014998469543924, 0.800581573308846, 0.800275482093664, 0.8013468013468014, 0.7993572084481175, 0.7994592388531783, 0.7987960412202837, 0.7987450260177533, 0.8000714212835425, 0.7983369043975105, 0.8001734516886032, 0.8003264972961943, 0.7995102540557086, 0.7990001020304051, 0.7984389348025712, 0.8003264972961943, 0.7993572084481175, 0.7993061932455872, 0.8017039077645138, 0.8003264972961943, 0.8009386797265585, 0.8018059381695746, 0.8005305581063157, 0.7998673604734211, 0.79971431486583, 0.8001224364860728, 0.7983879196000409, 0.8001224364860728, 0.8009896949290889, 0.800581573308846, 0.7993572084481175, 0.8004285277012549, 0.7992551780430568, 0.7991021324354658, 0.8000204060810121, 0.8007856341189674, 0.7997653300683604, 0.7993061932455872, 0.7999693908784817, 0.798847056422814, 0.8000714212835425, 0.7983879196000409, 0.7994592388531783, 0.7990001020304051, 0.798132843587389, 0.7989490868278747, 0.8006325885113764, 0.7997653300683604, 0.8009386797265585, 0.7987450260177533, 0.7990001020304051, 0.7997653300683604, 0.7985919804101622, 0.7996632996632996, 0.7982858891949801, 0.7999183756759515, 0.7987450260177533, 0.7997653300683604, 0.7993572084481175, 0.7994592388531783, 0.7992551780430568, 0.79971431486583, 0.8002244668911336, 0.7991021324354658, 0.7994082236506479, 0.7999183756759515, 0.8004285277012549]

In [24]:
submission2 = pd.DataFrame()
submission2['id']=test_data['id']
submission2['status_group'] = rf_df.iloc[:,0]
submission2.to_csv('~/PYTHON/DrivenData/water_pumps/submission_2.csv',index=False)

In [25]:
submission3 = pd.DataFrame()
submission3['id']=test_data['id']
submission3['status_group'] = t_rf_df.iloc[:,0]
submission3.to_csv('~/PYTHON/DrivenData/water_pumps/submission_3.csv',index=False)

In [26]:
best_idx = rf_accuracies.index(max(rf_accuracies))
submission4 = pd.DataFrame()
submission4['id']=test_data['id']
submission4['status_group'] = t_rf_df.iloc[:,best_idx]
submission4.to_csv('~/PYTHON/DrivenData/water_pumps/submission_4.csv',index=False)

In [35]:
t_best_idx = t_rf_accuracies.index(max(t_rf_accuracies))
submission5 = pd.DataFrame()
submission5['id']=test_data['id']
submission5['status_group'] = t_rf_df.iloc[:,t_best_idx]
submission5.to_csv('~/PYTHON/DrivenData/water_pumps/submission_5.csv',index=False)

In [27]:
print(max(rf_accuracies))
print(max(t_rf_accuracies))

0.8018569533721049
0.8021120293847567

In [127]:
print(rf_df.shape)
rf_df.head()

(14850, 200)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199
0,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional
1,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional
2,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional
3,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional,non functional
4,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional,functional

In [132]:
submission = pd.DataFrame()
submission['id']=test_data['id']
submission['status_group'] = rf_df.iloc[:,0]

In [133]:
# submission.set_index(submission['id'],inplace=True)
# submission
submission.head()

      id    status_group
0  50785  non functional
1  51630      functional
2  17168      functional
3  45559  non functional
4  49871      functional

In [135]:
submission.to_csv('~/PYTHON/DrivenData/water_pumps/submission_1.csv',index=False)